/* Merriweather / Nanum Gothic Raleway / Roboto
font-family: 'Merriweather', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
*{
  font-family: 'Roboto', sans-serif;
}
  body{
      background-color: #d1c4e9 ;
    }

    
  #app{
    width: 100vw;
    height: 100vw;
  }
  #bg{
    position:  relative !important;
    z-index: 1;
    height: 100%;
    width: 100%;
  } 
  /* #moving-bg{
    position: absolute !important;
    z-index: -1 ;
    top: 0 ;
    left: 0; 
    height: auto !important;
  } */

  .container {
    margin-bottom: 3rem;
  }

/* header */
.nav-wrapper{
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    
}
/* home */
nav .brand-logo{
  margin: 1rem;
}
nav .brand-logo:hover{
  -webkit-filter: drop-shadow(5px 5px 3px #333 );
  filter: drop-shadow(5px 5px 3px #333);}

.contact-icons i{
  color: #fff;
  padding:1rem;
  font-size: 1rem;
}

/* about */
.icons{
  color: #fff;
  font-size: 5rem;
  display: flex;
}
.icons i{
  padding-left: 2rem;
}
/* project */

/* lab */

/* guest book */
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  }
  .cards-container .card {
    margin: 1rem;
  }


/* register */
.register {
    margin-top: 30px;
  }
  .register .card {
    background: rgba(255, 255, 255, 0.5);
  }
  .register label {
    font-size: 16px;
    color: #333;
  }
  .register input {
    font-size: 20px;
  }
  .register button:hover {
    font-weight: bold;
  }
.msg{
    font-size: 2rem;
    /* font-family: 'Merriweather', serif; */
    font-weight: lighter;
}

/* footer */
footer{
display: flex;

/* position: absolute; */
bottom: 0;
padding: 1rem;
}
.footer-icons i{
  margin-left: 1rem;
  font-size: 2rem;
  color: #fff;
}
.footer-icons i:hover{
color : #ccc;}


/* setting???  */
.drag-target{
  padding: 0;
}

.mr-1{
  margin-right: 1rem;
}